@using System.Linq

@{
    ViewBag.Title = "Error";
}
@section head {
    @Styles.Render("~/Styles/comments.css")
}

@{
    if ((ViewBag.ErrorMsg != null))
    {
        <h2 id="CommentsTitle">
            Error: @ViewBag.ErrorMsg
        </h2>
    }
    else
    {
        <h2 id="CommentsTitle">
            Error
        </h2>
    }
}

<p>
    @Html.ActionLink("Back to posts", "Index", "Blog", null, new { @class = "link" })
</p>

