

@{
    ViewBag.Title = "Locations";
}

<h2>Locations:</h2>

<div id="myMap"></div>

<p id="a"></p><p></p>

@section scripts {
    <script type="text/javascript" src="~/scripts/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4DAMr4GpxEr8CBhljwkpY__5kMxSUNJo&callback=myMap"></script>
}