@using System.Linq

@{
    ViewBag.Title = "Error";
}
@section head {
    @Styles.Render("~/Styles/comments.css")
}

@{
    if ((ViewBag.ErrorMsg != null))
    {
        <h2 id="CommentsTitle">
            Error: @ViewBag.ErrorMsg
        </h2>
    }
    else
    {
        <h2 id="CommentsTitle">
            Error
        </h2>
    }
}



