@using System.Linq

@{
    ViewBag.Title = "Error";
}
@section head {
    @Styles.Render("~/Styles/FanClub.css")
}

@{
    if ((ViewBag.ErrorMsg != null))
    {
        <h2 id="FanClubTitle">
            Error: @ViewBag.ErrorMsg
        </h2>
    }
    else
    {
        <h2 id="FanClubTitle">
            Error
        </h2>
    }
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "link" })
</div>

