/*------------------------------
=BASIC SETUP
------------------------------*/

/* Makeshift CSS Reset */
* {
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, section,aside, nav, article {
	display: block;
}

@font-face {
   font-family: myFont;
   src: url("/fonts/Danoisemedium.ttf") format('truetype');
   src: url("/fonts/Danoisemedium.otf") format('opentype');
}


body {
	margin: 0 auto;
	padding: 22px 0;
	width: 940px;
	font-family: myFont, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background: #F0F0F0;
}
h1#title {
	text-shadow: 3px 3px #DDDDDD;
	font-size: 20px;
	text-decoration: underline;
	color: mediumseagreen;
}
h1, h2 {
	font-size: 28px;
	line-height: 44px;
	padding: 22px 0;
}

h2#empty {
	color:forestgreen;
	text-decoration: underline;
	font-weight: bold;
}

h3 {
	font-size: 18px;
	line-height: 22px;
	padding: 11px 0;
}

p {
	padding-bottom: 22px;
}



/*------------------------------
=NAVIGATION
------------------------------*/

nav{
	background-color:darkblue;
	z-index: 10000;
}

nav ul li.subscribe a {
	margin-left: 0px;
	padding-left: 0px;
	text-align: left;

}

nav ul li.limage{
	margin-top: 10px;
	margin-left: 0px;
	padding-left: 0px;
	text-align: left;

}

nav ul li #transDemo2 div {
	height:30px;
	width:30px;
	text-align:center;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 2s ease-in-out;
	-ms-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}

nav ul li #transDemo2 div:hover, #transDemo2 div.hover_effect {
	-webkit-transform:rotate(720deg) scale(2,2);
	-moz-transform:rotate(720deg) scale(2,2);
	-ms-transform:rotate(720deg) scale(2,2);
	transform:rotate(720deg) scale(2,2);
}

li.session{
    font-size: 24px;
    color:gold;
}

.navbar-inverse .navbar-brand{
	color: mediumseagreen;
}

a.navbar-brand{
	text-shadow: 1px 1px #DDDDDD;
	text-decoration: underline;
}

.navbar-inverse{
	background-color:darkblue;
	z-index: 10000;
}

.navbar-inverse .navbar-nav > li > a {
	color: floralwhite;
}




/*------------------------------
=INTRODUCTION
------------------------------*/

#intro {
	position: relative;
	margin-top: 66px;
	padding: 44px;
	
	background: rgba(125,170,17,255); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(180,221,16,255), rgba(70,118,18,255)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(180,221,16,255), rgba(70,118,18,255)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(180,221,16,255), rgba(70,118,18,255)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(180,221,16,255), rgba(70,118,18,255)); /* Standard syntax */

	
	/* Background-size not implemented yet */
	-webkit-background-size: 100%;
	-o-background-size: 100%;
	-khtml-background-size: 100%;

	
	/* Border-radius not implemented yet */
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
}

#intro h2, #intro p {
	position: relative;
	z-index: 9999;
	width: 436px;
}
	
#intro h2 {
	padding: 0 0 22px 0;
	font-weight: normal;
	color: #fff;
}
	
#intro p {
	padding: 0;
	color: #d9f499;
}
	
#intro img {
	position: absolute;
	top: 0;
	right: 0;
	width: 653px;
	height: 100%;
}


/*------------------------------
=SEARCH
------------------------------*/

#search fieldset {
	border: 5px solid #1F497D;
	background: #F0F0F0;
	border-radius: 5px;
	padding: 5px;
	width: 500px;
}

#search fieldset legend {
	background: #1F497D;
	color: #fff;
	padding: 5px 5px ;
	font-size: 20px;
	border-radius: 5px;
	box-shadow: 0 0 0 5px #ddd;
	margin-left: 10px;
}

#search table {
	width: 500px;
	height:100%;
}

#search td label {
	text-align: left;
	width: 100%;
}

#search td.submit {
	padding-top: 5px;
	text-align: right;
}

#search td.submit input[type=submit] {
	font-size: 20px;
	
}

#search input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	margin: 13.8px 0;
}
#search input[type=range]:focus {
	outline: none;
}
#search input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #6371a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
#search input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: rgba(251, 255, 255, 0.49);
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -14px;
}
#search input[type=range]:focus::-webkit-slider-runnable-track {
	background: #7d89b7;
}
#search input[type=range]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #6371a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
#search input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: rgba(251, 255, 255, 0.49);
	cursor: pointer;
}
#search input[type=range]::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
#search input[type=range]::-ms-fill-lower {
	background: #515e92;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
#search input[type=range]::-ms-fill-upper {
	background: #6371a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
#search input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: rgba(251, 255, 255, 0.49);
	cursor: pointer;
	height: 8.4px;
}
#search input[type=range]:focus::-ms-fill-lower {
	background: #6371a9;
}
#search input[type=range]:focus::-ms-fill-upper {
	background: #7d89b7;
}

/*------------------------------
=CONTENT AREA AND SIDEBAR LAYOUT
------------------------------*/


#content {
	display: table;
}

#mainContent {
	display: table-cell;
	width: 620px;
	padding-right: 22px;
}
	
aside {
	display: table-cell;
	width: 300px;
	background: rgba(228,228,228,255); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, rgba(215,215,215,255) , rgba(240,240,240,255)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, rgba(215,215,215,255), rgba(240,240,240,255)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgba(215,215,215,255), rgba(240,240,240,255)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(215,215,215,255) , rgba(240,240,240,255)); /* Standard syntax */
	   
 
}


/*------------------------------
=SIDEBAR
------------------------------*/
aside section {
	margin: 22px 0 0 22px;
	padding: 11px 22px;

	background: rgba(220,220,220,13); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(200,200,200,13), rgba(240,240,240,13)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(200,200,200,13), rgba(240,240,240,13)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(200,200,200,13), rgba(240,240,240,13)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(200,200,200,13), rgba(240,240,240,13)); /* Standard syntax */
	
	/* Border-radius not implemented yet */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

aside section ul {
	margin: 0 0 0 22px;
	list-style: none;
}
	
aside section ul li a {
	display: block;
	text-decoration: none;
	color: #000;
}
		
aside section ul li a:hover {
	text-decoration: underline;
}

/*------------------------------
=BLOG POST
------------------------------*/
.blogPost header p, .blogPost header p a {
	font-size: 14px;
	font-style: italic;
	color: #777;
}
	
.blogPost header h2 {
	font-size: 36px;
	color: steelblue;
	text-decoration:underline;
}

.blogPost header p a:hover {
	text-decoration: none;
	color: #000;
}


.blogPost img {
	width: 200px;
	height: 200px;
	margin: 22px 0;
	-webkit-box-shadow: 3px 3px 7px #777;
}

.blogPost video {
	margin: 12px 0;
	width: auto;
	height: 250px;
	-webkit-box-shadow: 3px 3px 7px #777;
}

/*------------------------------
=COMMENTS
------------------------------*/

#comments {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #d7d7d7;
}

#comments article {
	display: table;
	padding: 22px;
	width: 100%;
}

#comments h3 {
	text-decoration: underline;
	font-size: 20px;
	color:chocolate;
}
	
#comments article:nth-child(odd) {
	padding: 21px;
	background-color: aliceblue;
	border: 1px solid #d7d7d7;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}

#comments article:nth-child(even) {
	padding: 21px;
	background-color: azure;
	border: 1px solid #d7d7d7;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
}
	
#comments article header {
	display: table-cell;
	width: 220px;
	padding-right: 22px;
}

#comments article header h4 {
	display: block;
	font-weight: bold;
	text-decoration:underline;
}
		
#comments article header a {
	display: block;
	font-size: 14px;
	font-style: italic;
	color: #777;
}
			
#comments article header a:hover {
	text-decoration: none;
}
		
#comments article p {
	padding: 0;
}


/*------------------------------
=COMMENT FORM
------------------------------*/
.addComment {
	border: 1px solid black ;
	margin-top: 15px;
	margin-bottom: 15px;
}

form {
	padding-top: 15px;
	font-weight: bold;
}

form h3 {
	color:chocolate;
	font-size: 20px;
	text-align: left;
	text-decoration: underline;
	padding: 0 22px;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

form p {
	display: table;
	margin-bottom: 22px;
	padding: 0 22px;
}

form label {
	display: table-cell;
	width: 80px;
	text-align: left;
	font-weight: bold;
	vertical-align: top;
}
	
form input[type="text"], form input[type="email"], form input[type="url"] {
	display: table-cell;
	width: 300px;
	height: 20px;
	border: 1px solid #d7d7d7;
	text-align: left;
}
		
form textarea {
	width: 300px;
	height: 100px;
	border: 1px solid #d7d7d7;
	text-align: left;
}
		
form input[type="submit"] {
	margin-left: 162px;
}


/*------------------------------
=FOOTER
------------------------------*/
footer {
	position: absolute;
	left: 0;
	width: 100%;
	background: #222;
}

footer div {
	display: table;
	margin: 0 auto;
	padding: 44px 0;
	width: 940px;
	color: #777;
}
	
footer div section {
	display: table-cell;
	width: 300px;
}
		
footer div #about, footer div #blogroll {
	padding-right: 20px;
}
		
footer h3 {
	color: #FFF;
}
	
footer a {
	color: #999;
}
	
footer a:hover {
	color: #FFF;
	text-decoration: none;
}
	
footer ul {
	margin: 0 0 0 40px;
	list-style: square;
	color: #565656;
}
	
footer ul li a {
	display: block;
}

p.blabla{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
	-moz-column-count: 3; /* Firefox */
	column-count: 3;
}

#myMap{
	width:100%;
	height:300px;
}	   

p.weather {
    
    width:300px;
    color:darkgreen;
    background: lightblue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, lightblue, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, lightblue, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, lightblue, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, lightblue, yellow); /* Standard syntax */
}

p.weather span.wh{
    font-size:24px;
    text-decoration:underline;
    color:blue;
    
}


